



  
.sec3-details {
  height: 400px;
  width: auto;
  /* background-color: rgb(0, 0, 0); */
}

.sec3-databox {
 min-height: 100px;
  width: auto;
  background-color: rgb(255, 255, 255);
  
  display: flex;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  
  font-family: "Courier New", Courier, monospace;
}



.imgbox-sec3 {
  height: 60px;
  width: 60px;
  background-color: #000;
  background-image: url("assets/special-icons/86542-work-team.gif");
  background-size: cover;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

.bx-img1 {
  background-image: url("assets/special-icons/129554-blue-tick-in-badge.gif");
  height: 60px;
  width: 60px;
  padding: 15px;
  background-size: cover;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 20px;

}

#bx-img2 {
  background-image: url("assets/special-icons/109939-group-chat-convo.gif");
  height: 60px;
  width: 60px;
  padding: 15px;
  background-size: cover;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 20px;
}
#bx-img3 {
  background-image: url("assets/special-icons/iconlast/121104-woman-discovering-business-statistics.gif");
  height: 60px;
  width: 60px;
  padding: 15px;
  background-size: cover;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

.child-dt{
  margin-bottom: 10px;
}



 <div data-aos="fade-up-right" class="sec3-databox">
        <div class="imgbox-sec3"></div>
        <div class="child-databox">
          <h2>team work</h2>
          <p>"Alone we can do so little, but together we can achieve great things." - Helen Keller</p>
        </div>
      </div>
      
      <div  data-aos="fade-up-left" class="sec3-databox">
        <div  class="bx-img1"></div>
        <div class="child-databox">
          <h2>delta d </h2>
          <p>TEAM dealta d is a fedartion group which run by our bots</p>
        </div>
      </div>
    
      <div id="child-dt" 
      <div data-aos="fade-up-right" class="sec3-databox">
        <div class="imgbox-sec3" id="bx-img2"></div>
        <div class="child-databox">
          <h2>appleal group 1</h2>
          <p>"appearl group to know the reason of fban in userbot"</p>
        </div>
      </div>
    
      <div data-aos="fade-up-left" class="sec3-databox">
        <div class="imgbox-sec3" id="bx-img3"></div>
        <div class="child-databox">
          <h2>team work</h2>
          <p>"Alone we can do so little, but together we can achieve great things." - Helen Keller</p>
        </div>
      </div>
    